<div id="scroller">

    <div id="aboutPageWrapper">

        <div class="page-aligner">
            <ng-include src="'templates/MenuTemplate.html'">a</ng-include>
        </div>


        <section class="craft">
            <div class="page-aligner">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vehicula, eu lacinia metus fringilla tincidunt. Suspendisse convallis sem vitae nibh. Curabitur vulputate vehicula, eu lacinia metus fringilla tincidunt. Suspendisse sem vitae nibh feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
                <img src="images/ideas_craft.png" alt="Territory London, Ideas, Craft" />
            </div>
        </section>

        <section class="person">
            <div class="page-aligner">
                <div class="float-right">
                    <span class="title">Luke Miles</span>
                    <span class="subtitle">Brand Experience Director</span>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vehicula,eu lacinia metus fringilla tincidunt. Suspendisse convallis sem vitae nibh. Curabitur vulputate vehicula, eu lacinia metus fringilla tincidunt. Suspendisse sem vitae nibh feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vehicula,eu lacinia metus fringilla tincidunt. Suspendisse convallis sem vitae nibh. Curabitur vulputate vehicula, eu lacinia metus fringilla tincidunt. Suspendisse sem vitae nibh feugiat</h2>
                    <a href="https://twitter.com/territorystudio" class="twitter-icon" target="_blank"></a>
                    <a href="http://www.linkedin.com/company/territory-studio" class="linkedin-icon" target="_blank"></a>
                </div>
            </div>
        </section>

        <section class="studio">
            <div class="page-aligner">
                <div class="float-left">
                    <span class="title">Territory Studio</span>
                    <span class="subtitle">A perfect partnership</span>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vehicula,eu lacinia metus fringilla tincidunt. Suspendisse convallis sem vitae nibh. Curabitur vulputate vehicula, eu lacinia metus fringilla tincidunt. Suspendisse sem vitae nibh feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vehicula,eu lacinia metus fringilla tincidunt. Suspendisse convallis sem vitae nibh. Curabitur vulputate vehicula.</h2>
                    <a class="button" href="http://www.territorystudio.com">View Studio Website</a>
                </div>
                <div class="icon-territory-big float-right"></div>
            </div>
        </section>

        <footer>
            <div class="page-aligner">
                <h1 class="black">Get in touch</h1>
                <ul>
                    <li class="london">
                        <h3>Territory London</h3>
                        <span class="name">Luke Miles</span>
                        <span class="e-mail">luke@territorylondon.com</span>
                        <span class="phone">0203 141 9340</span>
                    </li>

                    <li class="studio">
                        <h3>Territory Studio</h3>
                        <span class="name">Nick Glover</span>
                        <span class="e-mail">nick@territorystudio.com</span>
                        <span class="phone">0203 141 9340</span>
                    </li>

                    <li class="address">
                        <h3>Where to find us</h3>
                        <span class="address1">1st Floor Berry House</span>
                        <span class="address2">4 Berry St</span>
                        <span class="city-postcode">London EC1V 0AA</span>
                    </li>
                    <li class="maps-image">
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center=4%20Berry%20St,%20EC1V0AA&size=280x120&sensor=true&markers=4%20Berry%20St,EC1V0AA&zoom=15&style=saturation:-100"
                             alt="map"/>
                    </li>
                </ul>
            </div>
        </footer>

    </div>

</div>