<a href="#/home">
    <img id="logo" width="173" height="29" src="images/logo-x2.png" />
    <img id="logoSmall" width="21" height="29" src="images/logo-icon-x2.png" />
</a>

<ul id="mainMenu">
<!--    <li>
        <a href="#/about">About us</a>
    </li>-->
    <li class="contact">
        <a>Contact Us</a>
        <span class="tooltip">
            <a href="tel:02031419430">Call<span class="hide-on-mobile">: 0203 141 9430</span></a>
            <a class="email" href="mailto:info@territorylondon.com">Email</a>
            <a target="_blank" href="https://maps.google.com/maps?q=4+berry+street,+EC1V+0AA&hl=en&ll=51.523264,-0.100116&t=m&z=18">Map</a>
        </span>
    </li>
</ul>